table {
    border-collapse: collapse;
}

td,
th {
    border: solid 2px black;
    text-align: center;
}

table caption {
    font-weight: bold;
    color: blue;
}

th {
    background-color: orange;
}
