div, p {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.div1 {
    background: linear-gradient(to bottom left, red, green, blue);
}

.div2 {
    background: linear-gradient(-70deg, yellow, violet 75%);
}

p {
    background: linear-gradient(white, rgba(0, 0, 0, 0.5));
}
